<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <style>
        body {
            font-family: "Times New Roman", Georgia, Serif;
            border-color: darkslategrey;
            background-color: antiquewhite;
        }

        #a, #txtDate {
            background-color: antiquewhite;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display";
            letter-spacing: 5px;
            background-color: antiquewhite;
        }
    </style>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
